<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mybatis.mapper.OrderCustomerStepMapper">

<!--按照id查询客户-->
    <select id="getCustomerById" resultType="com.atguigu.mybatis.bean.Customer">
        select * from t_customer where id = #{id}
    </select>

<!--    按照客户id查询他&她的所有订单-->
    <select id="getOrdersByCustomerId" resultType="com.atguigu.mybatis.bean.Order">
        select * from t_order where customer_id = #{cId}
    </select>

<!--    分步查询的自定义结果集： -->
    <resultMap id="CustomerOrdersStepRM" type="com.atguigu.mybatis.bean.Customer">
        <id column="id" property="id"></id>
        <result column="customer_name" property="customerName"></result>
        <result column="phone" property="phone"></result>
<!--        告诉MyBatis,封装orders属性的时候，是一个集合，
            但是这个集合需要调用另一个方法 进行查询： select: 来指定我们要调用的另一个方法
            column:来指定我们要调用方法时，把哪一列的值作为传递的参数，交给这个方法
                1、column="id"：id传递给方法    单个参数情况
                2、column="{cid=id,name=customer_name}, 多传参：cid传递给方法，name传递给方法
-->
        <collection
                property="orders"
                ofType="com.atguigu.mybatis.bean.Order"
                select="mapper.OrderCustomerStepMapper.getOrdersByCustomerId"
                column="id">
        </collection>

    </resultMap>

    <select id="getCustomerByIdAndOrdersStep" resultMap="CustomerOrdersStepRM">
        select *
        from t_customer
        where id = #{id}
    </select>

</mapper>